/* -FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

-SPACING SYSTEM (px) 
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  line-height: 1.5;
  /* font-size: 3.2rem; */
  background-color: hsl(0, 0%, 94%);
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 45%;
  margin: 5rem auto;
  background-color: hsl(0, 0%, 100%);
  padding: 3.2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 140px;
}

/* input styles */
label {
  color: hsl(0, 1%, 44%);
  letter-spacing: 0.2rem;
}

input {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 86%);
  max-width: 90%;
  font-weight: 700;
}
.head {
  gap: 2rem;
  max-width: 75%;
}

.head,
.days,
.months,
.years {
  display: flex;
}

.days,
.months,
.years {
  flex-direction: column;
  max-width: 29%;
  gap: 0.5rem;
}

.section {
  display: flex;
  align-items: center;
}
.iconDIV {
  height: 100%;
  padding: 2rem;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
}

.icon {
  width: 2.4rem;
  border-radius: 50%;
  scale: 1.5;
}

.line {
  width: 100%;
  margin: 0;
  color: hsl(0, 0%, 86%);
}

/* Display styles */
.article {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  font-style: italic;
}
.yearsDIV,
.monthDIV,
.daysDIV {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

.yearsResoult,
.monthsResoult,
.daysResoult,
.text {
  font-size: 7.4rem;
  font-weight: 800;
}

.yearsResoult,
.monthsResoult,
.daysResoult {
  color: hsl(259, 100%, 65%);
}

/* ! PROBLEM nie za bardzo weim jak teraz ustawić te strzałkę blizej lewej strony i skrócić te kresekę jak wszedzie dałem wartości procentowe */
/* mOŻESZ SIĘ POBAWIĆ PROCENTAMI i je pzomieniać, dodatkowo może rósz width of section  */
/* Media */
/* 1080 / 16 = 67,5rem */
@media (max-width: 67.5rem) {
  .iconDIV {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 6.7rem;
    width: 6.7rem;
  }
  .section {
    position: relative;
    margin: 5rem 0 4rem 0;
  }
  .yearsResoult,
  .monthsResoult,
  .daysResoult {
    font-size: 7rem;
  }
  .text {
    font-size: 6rem;
  }
}
